--find-links https://python.ridwanabid.com/repository/simple/redu-logger
--find-links https://python.ridwanabid.com/repository/simple/redu-config-manager
--find-links https://python.ridwanabid.com/repository/simple/redu-build-manager

neonize~=0.3.14.post0
redu_logger~=1.0.5
redu_config_manager~=1.0.0
redu_build_manager~=1.0.1
requests~=2.32.5